.crypto-navbar {
    position: absolute;
    margin-left: -6px;
    z-index: 999;
    width: 100vw;
    min-width: 250px;
    height: 60px;
    background-color: #74bacb;
    margin-bottom: 100px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.crypto-title {
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    color: #E5ECF4;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (max-width: 330px) {
    .crypto-title {
        width: min-content;
        padding-top: 0px;
        margin-top: 13px;
    }
}

a.twitter {
    float: right;
    position: absolute;
    top: 14px;
    right: 0px;
    padding-right: 25px;
    text-decoration: none;
    color: #E5ECF4;
}