body {
  background-color: #FFFFFF;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.main-page {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: absolute;
}

.chat-container {
  width: 60%;
  min-width: 250px;
  height: 100%;
  position: absolute;
  left: 20%;
  top: 15%;

}

.chat-box {
  width: 100%;
  min-width: 265px;
  height: 55%;
  background-color: #E5ECF4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.message-display-area {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 80%;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.message {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.message .user,
.message .assistant {
  max-width: 80%;
  padding: 10px;
  border-radius: 15px;
  word-break: break-word;
}

.message .user {
  margin-left: auto; /* Pushes the user messages to the right */
  background-color: #d1e7dd;
}

.message .assistant {
  margin-right: auto; /* Keeps the assistant messages on the left */
  background-color: #e9e9e9;
}

.message-input-form {
  display: flex;
  padding: 10px;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  align-self: flex-end; /* Align the loader to the right, like a user message */
  margin-bottom: 10px; /* Spacing, similar to a message */
  opacity: 0.7; /* Optional: Make it slightly transparent to differentiate from messages */

  /* Existing loader styles */
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.logo {
  background-image: url(../public/icon-120x120.png);
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  margin: auto;
}

.welcome-title {
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}