body {
  background-color: #FFFFFF;
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
}

.main-page {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: absolute;
}

.chat-container {
  width: 60%;
  min-width: 250px;
  height: 100%;
  position: absolute;
  left: 20%;
  top: 10%;

}

.chat-box {
  width: 100%;
  min-width: 265px;
  height: 515px;
  background-color: #E5ECF4;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 767px) {  
  .welcome-title {
    font-size: medium;
  }
  .chat-container {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 75px;
    height: calc(100vh - 200px);
  }
  .chat-box {
    position: fixed;
    bottom: 0;
    height: 66%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .chat-box .message-display-area {
    position: relative;
    height: calc(100% - 100px);
  }
  .message-input-form {
    position: fixed;
    bottom: 0;
    width: 95%;
  }
  input[type='text'] {
    width: 80%;
  }
}

.message-display-area {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 415px;
}

.message {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.message .user,
.message .assistant {
  max-width: 80%;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  word-break: break-word;
}

.message .user {
  margin-left: auto; /* Pushes the user messages to the right */
  background-color: #d1e7dd;
}

.message .assistant {
  margin-right: auto; /* Keeps the assistant messages on the left */
  background-color: #e9e9e9;
}

.message-input-form {
  display: flex;
  padding: 10px;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  align-self: flex-end; /* Align the loader to the right, like a user message */
  margin-bottom: 10px; /* Spacing, similar to a message */
  opacity: 0.7; /* Optional: Make it slightly transparent to differentiate from messages */

  /* Existing loader styles */
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@media only screen and (max-width: 767px) {  
  .logo {
    background-image: url(../public/icon-50x50.png);
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 768px) {  
  .logo {
    background-image: url(../public/icon-120x120.png);  
    width: 120px;
    height: 120px;
  }
}

.logo {
  background-repeat: no-repeat;
  margin: auto;
}

.welcome-title {
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  padding-left: 2rem;
  padding-right: 2rem;
}